.title {
  background: rgb(158, 147, 211);
}

.postcss-nested {
  position: fixed;

  &__wrap { /* для БЭМ */
    display: none;
  }

  img { /* вложенный селектор */
    height: 50%;
  }

  .parent & {/* обращение к родителю */
    font-size: 16px;
  }
}

.short {/* заролнение в одну строчку, *-игнорирует значение */
  position: relative 0 10px * 20px;

  size: 50px 100px;
}

.assets {
  background: inline('vk.png');
  size: 300px;
}

::placeholder {/* autoprefixer */
  color: red;
}